#productsArea {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 80%;
    
    /* 水平排列 */
    display: flex;
    /* 要換行 */
    flex-wrap: wrap;
    gap: 30px;
    
    padding: 0px 50px;
    justify-content: center;
}

.productItem {
    
    /*  寬度計算
        三個商品各佔 1/3 (33.333%)，
        總共兩個間距(gap) = 30 * 2 = 60px
        所以每個商品要扣掉：60/3 = 20px
        (不同視窗大小計算方式以此類推) */
    width: calc(33.333% - 20px); 

    min-width: 250px;
    max-width: 350px;
    
    background-color: var(--color-brown);
    border-radius: 25px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    gap: 15px;
  
    transition: transform 0.3s, box-shadow 0.3s;
    
    /* x偏移 y偏移 模糊半徑 顏色 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    color: var(--color-cream);
}

.productItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
    color: var(--color-pink);
}

.productItem img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
    background-color: var(--color-cream);
}

.productItem h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

/* 小於平板寬度時 */
@media (max-width: 1024px) {
    .productItem {
        /* 改成兩個一排 */
        width: calc(50% - 15px);  
    }
}

/* 小於手機寬度時 */
@media (max-width: 768px) {
    #productsArea {
        padding: 30px 20px;
        gap: 20px;
    }
    
    .productItem {
        /* 改成一個一排 不用扣間距*/
        width: 100%;
    }
}