#listArea{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: min-content;
    margin-bottom: 150px;
}

.listBox{
    width: 1000px;
    height: min-content;
    background-color: var(--color-pink);
    border-radius: 80px;

    position: relative;
    transform: translateX(-50%);
    left: 50%;

    padding: 15px 50px;

    color: var(--color-cream);
}

.listTitle{
    position: relative;
    height: 55px;
}

.listTitle h1{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}

.listBox hr{
    border: 2px solid var(--color-cream);
}

.itemsGrp{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}   

.item{
    width: 250px;   
    height: 120px;
    position: relative;  
}

.item a{
    text-align: center;
    text-decoration: none;
    color: var(--color-cream);
}

.item a:hover{
    color: var(--color-red);
}

.item h1{
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
}

.item h2{
    font-size: 40px;
    font-weight: 300;
}
